.banner-main {
    color: #FFF;
    font-family: Merriweather;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);

    background-repeat: no-repeat;
    background-position: center center;
    margin: 50px auto 120px;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;

}

.banner {
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;


}

.banner-pera {
    padding: 170px 500px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 0; */
}

.banner-heading {
    padding: 0 460px 170px;
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
    margin-top: 0;

}

.main-section {
    text-align: center;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    width: 82%;
    max-width: 1320px;
    margin: 120px auto 0;
}

.discount {
    color: #F00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.pera2 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.midnight-party {
    margin: 50px auto 120px;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    
    
    
}
.full-div{
    display: flex;
}

.midnight-portion1 {
    
   display: flex;
   flex-direction: column;
    

}

.midnight-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding: 126px 94.7px 5px 126px;

}

.pera3 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 4px 126px;
    /* 166.667% */
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #070211;
    margin: 10px 500px 142px 158px;
}

.midnight-portion2 {
    padding: 68.11px 138px 67px 39.17px;

}